header {
  background-color: white;
  width: 21%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logoHeader {
  display: flex;
  justify-content: center;
}

.linksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.linksContainer:hover {
  background-color: blue;
}

.link:hover {
  color: white;
}

.imgPerfil {
  width: 55px;
  height: 55px;
  border-radius: 20px;
  margin-bottom: 3%;
}

.iconsHeader {
  width: 25px;
  height: 25px;
}

.material-icons {
  display: none;
}

@media (max-width: 670px) {
  
  .linksContainer {
    background-color: white;
    justify-content: flex-start;
    padding-left: 10%;
  }

  .headerContainer {
    background-color: white;
    position: fixed;
    width: 40%;
    height: 100%;
    top: 0;
    display: none;
    z-index: 10;
  }

  .user {
    background-color: white;
    padding-top: 0;
    height: 100vh;
    margin-top: 7%;
  }

  header {
    width: 100%;
    height: 64px;
  }

  .logoHeader {
    padding: 0;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    height: 100%;
  }

  .imgLogo {
    width: 100px;
    height: 55px;
    margin-left: 3%;
  }

  .material-icons {
    display: contents;
    cursor: pointer;
  }

  .imgPerfil {
    margin-right: 5px;
  }

}
